

/* src/components/HomePage.css */
.me-auto {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.container {
  margin-top: 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #343a40;
}

p {
  font-size: 1.2rem;
  color: #6c757d;
}

.card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* src/components/LoginPage.css */
.login-container {
  margin-top: 5rem;
  max-width: 400px;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}


.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #343a40;
  text-align: center;
}

.login-label {
  font-weight: bold;
  color: #495057;
}

.login-input {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}

.login-input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.login-button {
  background-color: #007bff;
  border-color: #007bff;
  width: 100%;
  padding: 0.75rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s, border-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* about */
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* signup */

/* src/components/SignupForm.css */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the div takes the full viewport height */
  background-color: #f8f9fa; /* Optional: add a background color */
}



.signup-form {
  width: 100%;
  max-width: 600px; /* Control the width of the form */
  padding: 20px;
  margin-left: 25%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-title {

  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #343a40;
  text-align: center;
}

.login-fo{
  width: 100%;
  max-width: 600px; /* Control the width of the form */
  padding: 20px;
  margin-left: 25%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}